PROJECT_NAME=ij-systems
HOST_IP=<IP_DEL_SERVIDOR>

NGINX_PORT=80
PROMETHEUS_PORT=9090
UPTIMEKUMA_PORT=3001
CADVISOR_PORT=8080

MYSQL_ROOT_PASSWORD=<CAMBIAR_CONTRASENA_ROOT>
MYSQL_DATABASE=ijdb
MYSQL_USER=ijuser
MYSQL_PASSWORD=<CAMBIAR_CONTRASENA_USUARIO>

TZ=Europe/Madrid
